// Include in an ul or ol to make it a two-level menu.
@mixin menu-list($hover-color, $hover-text-color, $border-color,
                 $last-item-right: false) {
  list-style: none;
  
  // Note: using nth-child(n) to get a more specific selector than the 
  //       one for striped background in generic/_lists.css.scss 
  li:nth-child(n) {
    background-color: inherit;
  }
  
  > li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    background-color: inherit;
    > ol, > ul {
      display: none;
      background-color: inherit;
      border: 1px solid $border-color;
      position: absolute;
      z-index: 5;
      
      -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
  > li:hover {
    > ol, > ul {
      display: block;
    }
  }
  li:hover > a {
    background-color: $hover-color; 
    color: $hover-text-color;
    img {
      -webkit-filter: grayscale(0);
    }
  }

  a {
    display: block;
    padding: 0 0.5em;
    text-decoration: none;
    color: inherit;
    img {
      -webkit-filter: grayscale(0.33);
    }
  }
  a:visited {
    color: inherit;
  }
  li > img {
    display: block;
    position: relative;
    top: 2px;
    float: left;
    margin: 0;
    padding: 0 4px;
  }

  @if $last-item-right == true {
    > li:last-child {
      position: absolute;
      right: 0;
    }
    > li:last-child > ol {
      position: relative;
    }
    > li:last-child a {
      vertical-align: bottom;
      padding-right: 0;
    }
    > li:last-child a span {
      display: inline-block;
    }
  }
}
