@each $tag in html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
    blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
    samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form,
    label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
    aside, canvas, details, dialog, figcaption, figure,  footer, header,
    hgroup, menu, nav, section, summary, time, mark, audio, video {
  #{$tag} {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
  }
}

@each $html5_tag in article, aside, details, figcaption, figure, dialog,
    footer, header, hgroup, menu, nav, section {
  #{$html5_tag} {
    display: block;
  }
}

@each $list_tag in dl, ul, ol {
  #{$list_tag} {
    list-style: none;
  }
}

@each $tag in blockquote, q {
  #{$tag} {
    quotes: none;
    @each $side in before, after {
      &:#{$side} {
        content: '';
        content: none;
      }
    }
  }
}

a {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  vertical-align: baseline;
  background: transparent;
}
a img {
  border: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

@each $tag in abbr, dfn {
  #{$tag} {
    &[title] {
      border-bottom: 1px dotted;
      cursor: help;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

@each $tag in input, select {
  #{$tag} {
    vertical-align: middle;
  }
}
