#footer {
  margin: 0;
  border-top: 6px solid $footer-border-color;

  color: $footer-text-color;
  font-size: 11pt;

  nav {
    margin: 0 auto;
    padding: 5px 8px 0 8px;
    width: $page-width;
    ul {
      margin: 0;
      padding: 0 0 8px 0;
      li {
        display: inline-block;
      }
      a {
        display: inline-block;
        padding: 5px;
      }
    }
  }

  p {
    margin: 0;
  }

  p.copyright {
    line-height: 16px;
    img {
      float: left;
      margin-right: 5px;
    }
  }

  p.design {
    font-size: 9pt;
    display: block;
    padding: 36px 0 4px 0;
    text-align: center;
  }
  
  a {
    color: $footer-text-color;
  }  
}
