#header {
  background-color: $header-background-color;
  border-bottom: 1px solid $header-border-color;

  #main-menu {
    width: $page-width;
    margin: 0 auto;

    color: $header-text-color;
    font-family: $heading-font;
    vertical-align: baseline;

    > ol {
      @include pwnplus-menu-bar(
        $bar-color: $header-background-color,
        $text-color: $header-text-color,
        $border-color: $header-border-color,
        $hover-bar-color: $header-menu-hover-color,
        $hover-text-color: $header-menu-hover-text-color,
        $last-item-right: true
      );

      font-size: $header-menu-font-size;

      > li {
        > a:after {
          content: "\FEFF";
          display: inline-block;
          font-family: $heading-font;
          font-size: ($header-height - 4px);
          line-height: $header-height;
          margin: 0;
          padding: 0;
          vertical-align: baseline;
          width: 0;
        }
        &:first-child > a:after {
          content: "";
          content: none;
        }
      }
    }
  }

  h1 {
    display: inline-block;
    margin: 0;
    padding: 0;

    font-size: ($header-height - 4px);
    line-height: $header-height;
    color: $header-title-color;

    img {
      display: inline-block;
      margin: auto 0;
    }

    span {
      line-height: $header-height;
    }

    // Padding between the image and the title.
    img + span {
      padding-left: 0.2em;
    }
  }

  img.logo {
    vertical-align: -$logo-image-baseline;
    @if $logo-image-height {
      height: $logo-image-height;
    }
    @if $logo-image-width {
      width: $logo-image-width;
    }
  }
}

